@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

html {
	width: 640px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
}

body {
	background-color: #F5F1E9;
	padding: 10px;
}

h1 {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;	
	font-size: 50px;
	color: #27313D;
}

div.articlebox {
	height: 400px;
	width: 640px;
	float: left;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	
	background-repeat: no-repeat;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: white;
	margin-top: 15px;
	margin-left: 20px;
}
