@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

html {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
}

body {
	background-color: #F5F1E9;
	padding: 10px;
}

h1 {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;	
	font-size: 50px;
	color: #27313D;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: normal;
	margin-top: 10px;
	margin-left: 20px;
	color: #383838
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: normal;
	margin-top: 10px;
	margin-left: 50px;
	color: #383838
}

div.articleboxsamp {
	height: 650px;
	width: 600px;
	float: left;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: -1px -1px 3px #aaaaaa;
}

div.titletextbox {
	height: 50px;
	width: 400px;
	float: left;
	background-color: #F5F1E9;
}

div.datetextbox {
	height: 50px;
	width: 200px;
	float: left;
	background-color: #F1F0EE
}
div.articleboxsamp2 {
	height: 600px;
	width: 600px;
	float: left;
	background-image: no-repeat;
}

img.boximg {
	width: 600px;
	overflow: hidden;
}

