@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

html {
	width: 860px;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: #F5F1E9;
	padding: 10px;
}

h1 {
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;	
	font-size: 50px;
	color: #27313D;
}

div.articlebox {
	width: 640px;
	height: 400px;
	background-color: black;
	float: left;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(https://github.com/otonakano/BlogsysTut/blob/master/images/4935-8.jpg);
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: white;
	margin-top: 15px;
	margin-left: 20px;
}
